<a href="https://colab.research.google.com/github/yunju-m/DAP/blob/main/lecture3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

#Cars93 data
In this lab, we would like to explore data about 93 number of vehicles.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df

   Manufacturer    Model     Type  ...  Weight   Origin                Make
0         Acura  Integra    Small  ...  2705.0  non-USA       Acura Integra
1           NaN   Legend  Midsize  ...  3560.0  non-USA        Acura Legend
2          Audi       90  Compact  ...  3375.0  non-USA             Audi 90
3          Audi      100  Midsize  ...  3405.0  non-USA            Audi 100
4           BMW     535i  Midsize  ...  3640.0  non-USA            BMW 535i
..          ...      ...      ...  ...     ...      ...                 ...
88   Volkswagen  Eurovan      Van  ...  3960.0      NaN  Volkswagen Eurovan
89   Volkswagen   Passat  Compact  ...  2985.0  non-USA   Volkswagen Passat
90   Volkswagen  Corrado   Sporty  ...  2810.0  non-USA  Volkswagen Corrado
91        Volvo      240  Compact  ...  2985.0  non-USA           Volvo 240
92          NaN      850  Midsize  ...  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

# Descritive Statistics
Describe statistics of data using `describe()` method for numeric data (default).

In [3]:
df.describe()

       Min.Price      Price  ...  Luggage.room       Weight
count  86.000000  91.000000  ...     74.000000    86.000000
mean   17.118605  19.616484  ...     13.986486  3104.593023
std     8.828290   9.724280  ...      3.120824   600.129993
min     6.700000   7.400000  ...      6.000000  1695.000000
25%    10.825000  12.350000  ...     12.000000  2647.500000
50%    14.600000  17.700000  ...     14.000000  3085.000000
75%    20.250000  23.500000  ...     16.000000  3567.500000
max    45.400000  61.900000  ...     22.000000  4105.000000

[8 rows x 18 columns]

**[TODO]** For categorical data, specify `include` parametor as `'object'`.
(hint, refer [`pd.describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html))

In [4]:
df.describe(include=[object])

       Manufacturer  Model     Type  ... Man.trans.avail Origin               Make
count            89     92       90  ...              88     88                 90
unique           31     92        6  ...               2      2                 90
top            Ford  Storm  Midsize  ...             Yes    USA  Chrysler Imperial
freq              8      1       22  ...              57     46                  1

[4 rows x 9 columns]

## Measuring skewness
**[TODO]** Measure skewness for all numeric attribute and sort by value.

In [38]:
skewness = df.skew().sort_values()
skewness

Weight               -0.269695
RPM                  -0.237511
Turn.circle          -0.127313
Length               -0.036669
Rear.seat.room        0.054352
Passengers            0.081776
Fuel.tank.capacity    0.085445
Wheelbase             0.108599
Luggage.room          0.149069
Width                 0.288760
Rev.per.mile          0.354385
EngineSize            0.881670
Horsepower            0.944585
Min.Price             1.227271
MPG.highway           1.238671
Price                 1.510432
MPG.city              1.662674
Max.Price             2.248420
dtype: float64