<a href="https://colab.research.google.com/github/yunju-m/DAP/blob/main/lecture2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

np.random.seed(0)

# NumPy Exercises!
Complete the solution code to have a desired output.

**[Caution!]** Not allow to use iteration, such as for-loop.

### 1. Create a 4×4 numpy array of all True boolean’s

In [3]:
# Input
arr_size = (4, 4)

# Solution
bool_arr = np.full(arr_size, True, dtype=bool)

# Print
print(bool_arr)

[[ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]]

### 2. Extract all odd numbers from given `arr`

In [4]:
# Input
arr = np.arange(30)

# Solution
arr = arr[1:30:2]

# Print
print(arr)

[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29]

### 3. Get the positions where elements of `a` and `b` match

(hint, refer [np.where](https://numpy.org/doc/stable/reference/generated/numpy.where.html).)

In [15]:
# Input
a = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
b = np.array([7, 2, 10, 2, 7, 4, 9, 4, 9, 8])

 # Solution
idx = np.where(a==b)

# Print
print(idx)

(array([1, 3, 5, 7]),)

### 4. Find the mean, median, standard deviation of iris's `sepallength` (1st column).

Double-click (or enter) to edit

In [ ]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

# Solution
mu, med, std = 

# Print
print(mu, med, std)

### 5. Find the duplicate entries (2nd occurrence onwards) in the given numpy array and mark them as True. First time occurrences should be False. 
(hint, refer [np.unique](https://numpy.org/doc/stable/reference/generated/numpy.unique.html).)

In [ ]:
# Input
np.random.seed(100),
a = np.random.randint(0, 5, 10)
print('Array: ', a)

# Solution
## Create an all True array
out = 

## Find the index positions of unique elements
unique_positions = 
        
## Mark those positions as False
out[unique_positions]

print('Duplicate entrie: ', out)

### 6. Combine `ser1` and `ser2` to form a dataframe.

In [ ]:
# Input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
 ser2 = pd.Series(np.arange(26))

# Solution 
 df = pd.DataFrame(

# Print,
print(df.head())

### 7. Check if `df` has any missing values.

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.head())
  
# Solution
print('\\nIs there any missing value?:',

### 8. Create a TimeSeries starting `2021-01-01` and 10 weekends (sundays) after that **having** random numbers as values?

In [16]:
# Solution
ser = pd.Series(pd.date_range('2021-01-01', periods=10, freq='W-SUN'))
print(ser)

0   2021-01-03
1   2021-01-10
2   2021-01-17
3   2021-01-24
4   2021-01-31
5   2021-02-07
6   2021-02-14
7   2021-02-21
8   2021-02-28
9   2021-03-07
dtype: datetime64[ns]

### 9. In `df`, compute the mean price of every fruit using grouping function.

In [17]:
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                           'rating': np.random.rand(9),
                          'price': np.random.randint(0, 15, 9)})
  
# Solution
out = df.groupby
print(out)

<bound method DataFrame.groupby of     fruit    rating  price
0   apple  0.548814     10
1  banana  0.715189      1
2  orange  0.602763      6
3   apple  0.544883      7
4  banana  0.423655      7
5  orange  0.645894     14
6   apple  0.437587      8
7  banana  0.891773      1
8  orange  0.963663      5>

### 10. Join two dataframes `df1` and `df2` for intersection items on `use_id`.
For `df2`, please select only `use_id`, `platform`, `device` columns not all columns for merging.

In [ ]:
# Input
base_path = 'https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/'
df1 = pd.read_csv(base_path + 'user_usage.csv')
df2 = pd.read_csv(base_path + 'user_device.csv')

# Solution
pd.merge(