<a href="https://colab.research.google.com/github/yunju-m/DAP/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 지역별 범죄 발생의 현황
전국 경찰관서에 고소, 고발, 인지 등으로 형사입건된 사건의 발생, 검거, 피의자에 대한 지역별 분석 현황 [데이터](https://www.data.go.kr/data/3074462/fileData.do)

**[TODO]**
범죄대분류, 범죄중분류, 서울, 부산, 대구, 인천, 광주, 대전 울산, 세종, 경기도 지역으로 구분하여 발생 건수를 확인하고 가장 많은 범죄 발생률을 파악하고 그의 원인을 고찰하여 예방자세를 기른다.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load DataSet
데이터 불러오기

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/yunju-m/DAP/main/Regional_crime_statistic.csv', encoding='cp949')
data.head()

  범죄대분류  범죄중분류   서울   부산   대구   인천  ...  경남 창원  경남 통영  제주 서귀포  제주 제주  기타도시  도시이외
0  강력범죄   살인기수   67   20   13   17  ...      7      2       0     11     7    30
1  강력범죄  살인미수등   96   41   23   34  ...     13      2       1     16     4    44
2  강력범죄     강도  274  161   60  103  ...     26      3       4     29     4    65
3  강력범죄     강간  969  383  216  304  ...     85     11      14     64    18   328
4  강력범죄   유사강간  118   24   21   35  ...      8      1       1     12     0    33

[5 rows x 90 columns]

데이터의 행부분의 내용을 확인하고 전국 16개의 시도로 묶어줍니다.

ex, 경기 부천, 경기 시흥 -> 경기도

In [3]:
data.columns

Index(['범죄대분류', '범죄중분류', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종',
       '경기 고양', '경기 과천', '경기 광명', '경기 광주', '경기 구리', '경기 군포', '경기 김포', '경기 남양주',
       '경기 동두천', '경기 부천', '경기 성남', '경기 수원', '경기 시흥', '경기 안산', '경기 안성', '경기 안양',
       '경기 양주', '경기 여주', '경기 오산', '경기 용인', '경기 의왕', '경기 의정부', '경기 이천', '경기 파주',
       '경기 평택', '경기 포천', '경기 하남', '경기 화성', '강원 강릉', '강원 동해', '강원 삼척', '강원 속초',
       '강원 원주', '강원 춘천', '강원 태백', '충북 제천', '충북 청주', '충북 충주', '충남 계룡', '충남 공주',
       '충남 논산', '충남 당진', '충남 보령', '충남 서산', '충남 아산', '충남 천안', '전북 군산', '전북 김제',
       '전북 남원', '전북 익산', '전북 전주', '전북 정읍', '전남 광양', '전남 나주', '전남 목포', '전남 순천',
       '전남 여수', '경북 경산', '경북 경주', '경북 구미', '경북 김천', '경북 문경', '경북 상주', '경북 안동',
       '경북 영주', '경북 영천', '경북 포항', '경남 거제', '경남 김해', '경남 마산', '경남 밀양', '경남 사천',
       '경남 양산', '경남 진주', '경남 창원', '경남 통영', '제주 서귀포', '제주 제주', '기타도시', '도시이외'],
      dtype='object')

In [4]:
df_sample = data[['경기 고양', '경기 과천']]